.btn {
  background-color: $blue-primary;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,84,159,0.5);
  -moz-box-shadow: 0 6px 10px 0 rgba(0,84,159,0.5);
  box-shadow: 0 6px 10px 0 rgba(0,84,159,0.5);
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  width: 136px;
  margin-left: 10px;
  padding: 15px 16px;
  &--login {
    padding: 19px 16px;
    margin-top: 8px;
    width: 224px;
    position: relative;
    &:after {
      content: '';
      background: url(../img/arrow-left.png) no-repeat;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
  &-secondary {
    background-color: $white;
    box-shadow: 0 6px 10px 0 rgba(212,219,235,0.75);
    color: $blue-primary;
    border: 1px solid #D4DBEB;
    &:hover {
      color: $white;
      border-color: $blue-primary;
      background-color: $blue-primary;
    }
    &:active {
      color: $white !important;
      border-color: $blue-primary !important;
      background-color: $blue-primary !important;
    }
    &:focus {
      color: $white !important;
      border-color: $blue-primary !important;
      background-color: $blue-primary !important;
    }
  }
  &-secondary.active {
    color: $white !important;
    border-color: $blue-primary !important;
    background-color: $blue-primary !important;
  }
}