.content {
  &-left {
    width: 248px;
    position: fixed;
    height: 100vh;
  }
  &-right {
    margin-left: 248px;
    width: 100%;
    height: 100%;
    z-index: 10;
    &-header {
      width: 100%;
      height: 64px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: 16px 27px;
      background-color: $white;
      box-shadow: 0 4px 8px 0 rgba(212,219,235,0.5);
    }
    &-body {
      background-color: $gray-superlight;
      height: 100%;
      padding: 32px 24px;
    }
  }
}
.header-title {
  flex-grow: 1;
  line-height: 30px;
}
.small-subtitle {
  font-size: 16px;
  line-height: 30px;
  color: $blue-primary;
  font-weight: bold;
  padding-left: 20px;
}
.hamb {
  cursor: pointer;
  position: absolute;
}
.title-small {
  width: 400px;
  color: $black-letter;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 5px;
  line-height: 25px;
}
