.filters {
  background-color: $white;
  padding: 24px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(212,219,235,0.5);
  &-concealer {
    position: absolute;
    right: 5px;
    top: -25px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  &-container {
    justify-content: flex-start;
  }
}

@media (max-width: 991px) {
  .filters .form-group {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}


@media (max-width: 767px) {
  .filters .form-group {
    flex: 0 0 50%;
    max-width: 50%;
  }
}