.form-control {
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  color: $gray-letter;
  background-color: $white;
  border: 1px solid $gray-light;
  padding: 19px 12px;
}

.form-group {
  padding-top: 16px;
  &--error {
    .form-control {
      border-color: $error;
    }
  }
}
.label-common {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: $gray-letter;
}
.error-msg {
  color: $error;
  font-size: 11px;
  line-height: 12px;
  padding: 0px 10px;
}

.promo {
  margin: 0;
  padding: 8px 0;
    &-img {
    color: $blue-primary;
    }
    input::placeholder {
    font-size: 12px;
    }
}
.a-file {
  display: flex;
      .button-file {
        box-sizing: border-box;	
        height: 40px;	
        width: 136px;	
        color: $blue-primary;
        font-weight: bold;
        border: 1px solid #CBEBFF;	
        border-radius: 2px;	
        background-color: #E5F5FF;
        box-shadow: none;
        margin: 0;
        padding: 0;
        }
}
