.modal {
    &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 31px;
        color: $blue-primary;
    }
    &-small {
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        left: 50% !important;
        margin: 0 !important;
    }
    &-content-small {
        width: 280px;
        min-height: 288px;
        .modal-footer {
            background-color: blue;
            padding: 0;
            .btn {
                width: 100%;
                color: $white;
                border-width: 0px;
            }
        }
    }
    &-icon {
        position: relative;
        &:after {
            content: '';
            top: 47px;
            left: 83px;
            position: absolute;
            width: 117px;
            height: 117px;

        }
        p {
            margin-top: 175px;
        }
    }
    &-warning {
        &:after {
            content: '';
            background: url('../img/error.png') no-repeat;
        }
    }
    &-info {
        &:after {
            content: '';
            background: url('../img/info.png') no-repeat;
        }
    }
}
@media (min-width: 576px) {
    .modal {
        &-small.modal-dialog {
            max-width: 280px;
        }
    }
}

@media (min-width: 960px) {
    .modal {
        &-dialog {
            max-width: 992px;
        }
        &-promo {
            max-width: 872px;
        }
    }
}

