.ope {
  &-content {
    background-color: $gray-superlight;
    .ope-header {
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 0 6px 10px 0 rgba(212,219,235,0.75);
      padding: 24px 32px 16px 32px;
        .switch {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         font-size: 14px;
         line-height: 16px;
         margin: 0px;
           &-ico {
             width: 28px;
             height: 16px;
             margin-left: 10px;
          }
        }
    }
    .ope-body {
      padding: 0px 32px;
        .p-med {
          color: #363636;
        }
        .p-med:hover {
            color:white;
          }    
    }
    .ope-footer {
      padding: 12px 32px 24px 12px;
      border: none;
    }
  }
  &-title-check {
    label {
      font-weight: bold;
      padding-left: 7px;
      line-height: 28px;
    }
    .form-check {
      padding-bottom: 17px;
      padding-top: 17px;
      input[type=checkbox] {
        width: 20px;
        height: 20px;
        position: relative;
        top: 7px;
        &:after {
          content: ' ';
          background-color: $yellow-light;
          display: inline-block;
          visibility: visible;
          border-radius: 4px;
          box-shadow: 0 6px 10px 0 rgba(252,185,37,0.25);
        }
        &:checked:after {
          position: absolute;
          content: "";
          width: 13px;
          height: 12px;
          left: 1px;
          top: 2px;
          background: url(../img/check.png) no-repeat;
        }
        &:checked:before {
          content: ' ';
          background-color: $yellow-light;
          display: inline-block;
          visibility: visible;
          border-radius: 4px;
          box-shadow: 0 6px 10px 0 rgba(252,185,37,0.25);
        }
        &:checked:before {
          content: "";
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &-content-check {
    .btn-secondary {
      width: auto;
      padding: 8px;
      box-shadow: none;
      margin: 4px 8px 4px 0;
    }
  }
}

