.uinfo {
  &-anotation {
    position: relative;
    line-height: 30px;
    &:before {
      content: "";
      background: url('../img/fullscreen.png') no-repeat;
      position: absolute;
      display: block;
      left: -17px;
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:after {
      content: "|";
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      color: $gray-light;
    }
  }
  &-data {
    display: flex;
  }
  &-icon {
    background: $yellow;
    padding: 8px 12px;
    border-radius: 50%;
    font-weight: bold;
    color: $white;
  }
}
.uinfo > div {
  padding: 0 15px 0 10px;
  font-weight: bold;
}
.uinfo-data > p {
  display: block;
  padding-left: 10px;
  margin-bottom: 0px;
}
.uinfo-data > p span {
  color: $black-letter;
}