@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light.otf");
  src: url("../fonts/HelveticaNeueLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light47.otf");
  font-weight: normal;
  font-style: normal;
}

html *
{
  font-family: HelveticaNeue ;
}