html, body {
  height: 100%;
}
.p-sbig {
  font-size: 14px !important;
  line-height: 16px;
}
.p-big {
  font-size: 13px !important;
  line-height: 16px;
}
.p-med {
  font-size: 12px !important;
  line-height: 15px
}
.p-small {
  font-size: 11px !important;
  line-height: 14px;
}
.c-primary {
  color: $blue-primary;
}
.m-0 {
 margin: 0
}
.w-100 {
  width: 100%;
}