.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  &:after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
  }
  &-filter {
    &:after {
      background: url(../img/i-filter.png) no-repeat;
      top: 3px;
    }
  }
}