.sidebar {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#00549F;
    overflow-x: hidden;
    transition: 0.4s;
}
.logo {
    flex-grow: 0;
}
.sidebar ul {
    flex-grow: 1;
}
.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    color: #eee;
    text-decoration: none;
}

.sidebar img {
    width: 160px;
    height: 32px;
    margin: 20px 64px 36px 20px;
}

.sidebar a:hover{
    color:#fff;
    background: linear-gradient(90deg, #0082DA 0%, #00549F 100%);
    box-shadow: 0 3px 6px 0 rgba(54,54,54,0.15);
}
.sec {
    width: 1366;
    height: 768px;
    background: #D4DBEB;
}

.align li a {
    text-align: left;
    padding: 16px 24px;
}

img > .icono {
    float: right;
    margin: 10px;
    width: 23px;
    height: 23px;
}

.active  a {
    background: linear-gradient(90deg, #0082DA 0%, #00549F 100%);
    box-shadow: 0 3px 6px 0 rgba(54,54,54,0.15);
}

.end {
    display: block;
    padding: 16px 24px;
    width: 100%;
    height: 64px;
    color: $white;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #0098FF;
}

.end:hover {
    color:#fff;
    background: linear-gradient(90deg, #0082DA 0%, #00549F 100%);
    box-shadow: 0 3px 6px 0 rgba(54,54,54,0.15);
}

@import '../views/operations';
@import '../views/membership';
