.container-main {
  height: 100vh;
  position: relative;
  &:after {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/back-login.png) no-repeat;
    top: 0;
    background-size: cover;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 5px 10px 0 rgba(54,54,54,0.4);
    position: absolute;
    z-index: -1;
  }
}
.login-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.center-items {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 504px;
}
.big-card {
  height: 100%;
  max-width: 410px;
  padding: 80px 55px 80px 56px;
  &--blue {
    background: linear-gradient(90deg, rgb(0, 119, 200) 0%, rgb(0, 119, 200) 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(54,54,54,0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(54,54,54,0.3);
    box-shadow: 0 0 10px 0 rgba(54,54,54,0.3);
    border-radius: 8px 0 0 8px;
    position: relative;
  }
  &--white {
    background-color: $white;
    -webkit-box-shadow: 0 5px 10px 0 rgba(54,54,54,0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(54,54,54,0.3);
    box-shadow: 0 5px 10px 0 rgba(54,54,54,0.3);
    border-radius: 0 8px 8px 0;
  }
}
.subtitle {
  font-size: 26px;
  margin-bottom: 16px;
  color: $gray-letter;
  font-weight: bold;
  &--strong {
    display: block;
    font-weight: bold;
    color: $blue-primary;
    font-size: 30px;
  }
}
.logo-cp {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}

.form-group img {
  position: absolute;
  left: 320px;
  top: 216px;
  background-image: url(index.html);
  cursor: pointer;
}

.form-group--error img {
  position: absolute;
  left: 320px;
  top: 339px;
  background-image: url(index.html);
  cursor: pointer;
  
}