#modal {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 280px;
    min-height: 288px;
    background-color:#FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}
.aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 232px;;  
}
.alerta{
    width: 114px;
    height: 114px;

}
.label-alerta {
    margin-top: 23px; 
    font-size: 14px;
}
.back {
    min-height: 56px;
    background-color:#00549F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mensaje {
    color:white;
    font-size: 13px;
}
.back .btn-primary{
    display: flex;
    width: 280px;
    border: none;
    margin: 0;
    height: 56px;
    align-items: center;
    justify-content: center;
}