#t-content{
    margin: 0;
    padding: 0;
    background-color: #F5F7FB;
    font-size: 12px;
}

.t-head th {
    color: #00549F;
    font-weight: 500;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.t-body {
    background-color: #ffff;
    
}

.t-body td {
    max-height: 56px;
    vertical-align: middle;
    
}


.table {
    border-collapse: separate;
    border-spacing: 0 8px;
    padding: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    display: table;
   
}

th.barra {
    padding: 12px 4px;
}

td {
    padding: 12px 4px
}


.t-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 30px 8px 30px;

}

.t-number {
    font-size: 32px;
    font-weight: bold;
    color:#00549F;
    margin-right: 8px;

}

.t-result {
    font-size: 16px;
    color: #363636;
}

#vineta {
    width: 6px;
    height: 24px;
    background-color:#00549F;
    border-radius: 3px;
    opacity: 0.25;
    padding: 0;
    margin: 0;
}



#v-blue {
    width: 6px;
    height: 24px;
    background-color:#00549F;
    border-radius: 3px;

}

#v-red {
    width: 6px;
    height: 24px;
    background-color:#C23D3D;
    border-radius: 3px;

}

#v-green {
    width: 6px;
    height: 24px;
    background-color: #639F16;
    border-radius: 3px;
 
}


.t-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 30px 24px 30px;
    align-items: baseline;
}

.t-npag {
    font-size: 16px;
}

.page-link{
    color:#363636;
    width: 32px;
    height: 32px;
    font-size:16px;
}

.page-item:first-child .page-link{
    color:#00549F;
    opacity: 0.25;
    background-color: #F5F7FB;
    border-style: none;
}

.page-item:last-child .page-link{
    color:#00549F;
    background-color: #F5F7FB;
    border-style: none;

}


.t-but .btn{
    width: 168px;
    height: 48px;
}

